@using Microsoft.AspNetCore.Components.Web
@namespace PackMarket.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/material.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Material/blazorise.material.css" rel="stylesheet" />
    <link href="_content/Blazorise.Icons.Material/blazorise.icons.material.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PackMarket.styles.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
        </environment>
        <environment include="Development">
        </environment>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="jquery/dist/jquery.cookie.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="_content/Blazorise.Material/blazorise.material.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 200) {
                        $('.auth').addClass("auth-hidden");
                    } else {
                        $('.auth').removeClass("auth-hidden");
                    }
                    if ($(this).scrollTop() > 265) {
                        $('.nav-wrapper').addClass("nav-wrapper-top");
                    } else {
                        $('.nav-wrapper').removeClass("nav-wrapper-top");
                    }
                });
            });
        });
        window.getIpAddress = () => {
            return fetch('https://jsonip.com/')
                .then((response) => response.json())
                .then((data) => {
                    return data.ip
                })
        }
    </script>
</body>
</html>
