@page "/about"
<PageTitle>О Нас</PageTitle>

<div class="page about">

    <h3>О нас</h3>
    <Breadcrumb>
        <BreadcrumbItem><BreadcrumbLink To="">Главная</BreadcrumbLink></BreadcrumbItem>
        <BreadcrumbItem Active><BreadcrumbLink To="about">О нас</BreadcrumbLink></BreadcrumbItem>
    </Breadcrumb>
</div>