@page "/contacts"
<PageTitle>Контакты</PageTitle>
<div class="page contacts">
    <h3>Контакты</h3>
    <Breadcrumb>
        <BreadcrumbItem><BreadcrumbLink To="">Главная</BreadcrumbLink></BreadcrumbItem>
        <BreadcrumbItem Active><BreadcrumbLink To="contacts">Контакты</BreadcrumbLink></BreadcrumbItem>
    </Breadcrumb>
    <div class="contact-body">
        <div class="contact-slider">
            <div class="contact-item">
                <div class="contact-item-logo">
                    <Icon Name="IconName.Map" IconSize="IconSize.x4" />
                </div>
                <div class="contact-item-desc">
                    <h5>Адрес</h5>
                    <p>г. Екатеринбург,ул. Крупносортщиков, корп стр 14, офис 301</p>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item-logo">
                    <Icon Name="IconName.PhoneAlt" IconSize="IconSize.x4" />
                </div>
                <div class="contact-item-desc">
                    <h5>Телефоны</h5>
                    <p>
                        <a class="click-link" href="tel:+79826009094">8(982)600-90-94</a><br />
                        <a class="click-link" href="tel:+73433102768">8(343)310-27-68</a>
                    </p>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item-logo">
                    <Icon Name="IconName.Mail" IconSize="IconSize.x4" />
                </div>
                <div class="contact-item-desc">
                    <h5>E-Mail</h5>
                    <a class="click-link" href="mailto:russ-pack@mail.ru">russ-pack@mail.ru</a>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item-logo">
                    <Icon Name="IconName.Clock" IconSize="IconSize.x4" />
                </div>
                <div class="contact-item-desc">
                    <h5>Режим работы</h5>
                    <p>
                        Пн. – Пт.: с 9:00 до 18:00
                    </p>
                </div>
            </div>
        </div>
        <div class="contact-map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b7843cc11e3d9edba65963f8261ea26e4b77cc6eefbaac2a8fdb7ac79d7fc02&amp;source=constructor" width="100%" height="520" frameborder="0"></iframe>
        </div>
    </div>
</div>