@page "/"

<PageTitle>Домашняя</PageTitle>
<div class="page index">
    <CarouselComponent/>
    @*<h1>@ip</h1>*@
    <AfterCarousel/>
    <div class="catalog-heading">
        <h4>Каталог товаров</h4>
        <div></div>
    </div>
    <p>Поставка широкого спектра товаров и промышленного оборудования
        как для корпоративных клиентов так и для частных лиц. 
        Профессионализм и ответственность ключевые преимущества нашей компании.
    </p>
    @if (Repository.Categories != null)
    {
        <MainCatalog WithSidebar=false Categories="MainCategories"/>
    }
</div>