@page "/"
@using PackMarket.Extentions;
@using System.Net;
@inject IJSRuntime jsRuntime

<PageTitle>Домашняя</PageTitle>
<div class="page index">
    <CarouselComponent/>
    <h1>@ip</h1>
@*    <button @onclick="ChangeStorage">Задать</button>
    <button @onclick="Update">Обновить</button>
    <button @onclick="Clear">Очистить</button>*@
</div>
@code{
    string ip;
    protected override async Task OnInitializedAsync()
    {
        ip = await GetIpAddress();
    }
    public async Task<string> GetIpAddress()
    {
        try
        {
            var ipAddress = await jsRuntime.InvokeAsync<string>("getIpAddress").ConfigureAwait(true);
            return ipAddress;
        }
        catch(Exception)
        {
            return string.Empty;
        }
    }

}