@page "/new-products"

<PageTitle>Новинки</PageTitle>

<div class="page new-products">
    <h3>Новинки</h3>
    @if(Products==null||Products.Count==0)
    {
        <p>Тут пока ничего нет</p>
    }
    else
    {
        <ProductCardContainer Products="Products" Directories ="Directories"/>
        
    }
</div>