@page "/price"
<PageTitle>Прайс-лист</PageTitle>

<div class="page price-list">
    <h3>Прайс-лист</h3>
    <Breadcrumb>
        <BreadcrumbItem><BreadcrumbLink To="">Главная</BreadcrumbLink></BreadcrumbItem>
        <BreadcrumbItem Active><BreadcrumbLink To="price">Прайс-лист</BreadcrumbLink></BreadcrumbItem>
    </Breadcrumb>
    @*<div class="price-list-table">
        @if (Products == null)
        {
            <h4>Пока нет товаров...</h4>
        }
        else
        {
            <Table Hoverable
                      Bordered>
            <TableHeader>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Название</TableHeaderCell>
                <TableHeaderCell>Описание</TableHeaderCell>
                <TableHeaderCell>Цена с НДС</TableHeaderCell>
            </TableHeader>
            <TableBody>
                @foreach(var p in Products)
                    {
                        int i = 1;
                        <TableRow>
                            <TableRowHeader>@i
                            </TableRowHeader>
                            <TableRowCell>@p.Name</TableRowCell>
                            <TableRowCell>@p.Description</TableRowCell>
                            <TableRowCell>@p.RetailPrice</TableRowCell>
                        </TableRow>
                        i++;
                    }
                </TableBody>
            </Table>
        }

    </div>*@
</div>