@page "/price"
<PageTitle>Прайс-лист</PageTitle>

<div class="page price">
    <h3>Прайс-лист</h3>
    <Breadcrumb>
        <BreadcrumbItem><BreadcrumbLink To="">Главная</BreadcrumbLink></BreadcrumbItem>
        <BreadcrumbItem><BreadcrumbLink To="catalog">Каталог</BreadcrumbLink></BreadcrumbItem>
        <BreadcrumbItem Active><BreadcrumbLink To="price">Прайс-лист</BreadcrumbLink></BreadcrumbItem>
    </Breadcrumb>
</div>