@page "/admin"
@using PackMarket.Data.Static;

<AuthorizeView Roles="@TemplateRoles.Admin">
    <Authorized>
        <p>Hello Admin</p>
        <NavLink class="header-contacts-button" href="admin/categories">Категории</NavLink>
        <NavLink class="header-contacts-button" href="admin/products">Товары</NavLink>
    </Authorized>
    
    <NotAuthorized>
        <p>Hello there</p>
    </NotAuthorized>
</AuthorizeView>