@using Microsoft.EntityFrameworkCore;
@using PackMarket.Data;
@using PackMarket.Data.Models;
@inject IDbContextFactory<ApplicationDbContext> DbFactory

@page "/admin/settings"



<div class="page">

</div>
@code {

}
