@using Microsoft.EntityFrameworkCore;
@using PackMarket.Data;
@using PackMarket.Data.Models;
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@layout AdminLayout
@page "/admin/settings"



<div class="page">

</div>
@code {

}
