.login, .logoff{
    
}
.auth {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;

    a {
        color: black;
    }

    form button{
        color: black;
    }
}
.auth-hidden{
    display:none;
}
