$primary-color: #6D6875;
$secondary-color: #B5838D;
$third-color: #E5989B;
$forth-color: #FFB4A2;
$fifth-color: #FFCDB2;
$accent1-color: #9B5DE5;
$accent2-color: #F15BB5;
$accent3-color: #FEE440;
$accent4-color: #00BBF9;
$accent5-color: #00F5D4;