            <div class="footer-mail-div">
                <a class="footer-big-number" href="tel:+79004445566">+7-901-111-22-33</a>
                <a class="footer-component-mail" href="mailto:katya@pack.ru">katya@pack.ru</a>
                <a class="btn footer-component-btn" href="">Написать менеджеру</a>
            </div>