<div class="footer-callback-div">
    <a class="footer-big-number" href="tel:+79004445566">+7-900-444-55-66</a>
    <p class="footer-component-p">Ежедневно с 9 до 20 по Екатеринбургу</p>
    <a class="footer-component-btn" href="">Перезвоните мне</a>
</div>