<div class="footer">
    <div class="footer-main">
        <div class="footer-buttons">
                <FooterCallBack/>
                <FooterEmailSend/>
        </div>
        <div class="footer-menu">
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="catalog">Каталог</NavLink>
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="new-products">Новинки</NavLink>
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="stocks">Акции</NavLink>
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="about">О нас</NavLink>
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="price">Прайс-лист</NavLink>
            <NavLink class="footer-nav-link" ActiveClass="footer-nav-link-active" Href="contacts">Контакты</NavLink>
        </div>
    </div>
    <div class="footer-copy">
        <p>&#174; 2023 Все права защищены</p>
    </div>
</div>