@using PackMarket.Services;
@inject DataCrudService dbContext
<div class="header">
    <div class="header-info">
        <div class="logo">
            <a href="" style="width:200px;">
                <img src="logo.png" alt="" style="width:200%;"/>
            </a>
        </div>
        <div class="hello-slogan">
            <p>Производство пленки ПВД и Комплексные поставки упаковочных и расходных материалов.</p>
        </div>

        <div class="header-contacts-place">
            <div class="header-contacts">
                <p class="phone">+7 999 555 66 77</p>
                <p class="phone">+7 999 555 66 77</p>
                <p class="email">test@test.ru</p>
            </div>
            <div>
                <button class="header-contacts-button">
                    Заказать звонок
                </button>
            </div>
            
        </div>
    </div>
    @if (Repository.Categories!= null)
    {
        <MyNavMenu Categories="Repository.Categories" Count="@count" />
    }
</div>