@*Identity/Account/Manage*@
<AuthorizeView>
    <Authorized>
        <div class="login @Class">
            <a href="">Привет, @(context.User.Identity?.Name!.Split("@")[0])</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Выйти</button>
            </form>
        </div>
       
    </Authorized>
    <NotAuthorized>
        <div class="logoff @Class">
            <a href="Identity/Account/Register">Зарегистрироваться</a>
            <a href="Identity/Account/Login">Войти</a>
        </div>
        
    </NotAuthorized>
</AuthorizeView>
@code{
    [Parameter]
    public string? Class { get; set; } = "auth";
}