@using Blazorise;

<div class="nav-wrapper">
    <nav>
        <ul class="topmenu">
            <li>
                <NavLink class="navlink" ActiveClass="navlink-active" href="catalog"><span>Каталог </span><Icon Name="IconName.ChevronDown"></Icon></NavLink>
                <ul class="submenu">
                    <li><a href="new-products">Новинки</a></li>
                    <li><a href="stocks">Акции</a></li>
                    @foreach (var cat in Categories.Where(c=>c.Parent==null))
                    {
                        <li>
                            <a href="@cat.Url">@cat.Title</a>
                            @if(cat.Children!=null)
                            {
                            <ul class="submenu">
                                @foreach (var chCat in cat.Children)
                                {
                                        <li><a href="@chCat.Url">@chCat.Title</a></li>
                                }
                            </ul>
                            }
                        </li>
                    }
                </ul>
            </li>
            <li><NavLink class="navlink" ActiveClass="navlink-active" href="new-products"><span>Новинки</span></NavLink></li>
            <li><NavLink class="navlink" ActiveClass="navlink-active" href="stocks"><span>Акции</span></NavLink></li>
            <li>
                <NavLink class="navlink" ActiveClass="navlink-active" href="about"><span>О нас </span><Icon Name="IconName.ChevronDown"></Icon></NavLink>
                <ul class="submenu">
                    <li><NavLink href="">Доставка</NavLink></li>
                    <li><NavLink href="">Оплата</NavLink></li>
                    <li><NavLink href="">Реквизиты</NavLink></li>
                </ul>
            </li>

            <li><NavLink class="navlink" ActiveClass="navlink-active" href="price"><span>Прайс-лист</span></NavLink></li>
            <li><NavLink class="navlink" ActiveClass="navlink-active" href="contacts"><span>Контакты</span></NavLink></li>
            <li><NavLink class="navlink" href="admin"><Icon Name="IconName.Search"></Icon></NavLink></li>
            <li><NavLink class="navlink" ActiveClass="navlink-active" href="cart"><Icon Name="IconName.ShoppingCart"></Icon><Badge>5</Badge></NavLink></li>
        </ul>
    </nav>
</div>
@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    void GoToCatalog()
    {
        NavigationManager.NavigateTo("catalog");
    }
    [Parameter]public List<Category> Categories { get; set; }
}