<div class="sidebar-catalog">
        <ul class="sidebar-menu">
        <li><a href="new-products">Новинки</a></li>
        <li><a href="stocks">Акции</a></li>
            @foreach (var item in Categories)
            {
                <li>
                    <a href="@item.Url">@item.Title</a>
                </li>
            }
    </ul>
</div>