<div class="after-carousel">
    <div class="mini-card">
        <Icon Name="@("local_mall")" Style="material-symbols-outlined" IconSize="IconSize.x3"></Icon>
        <p>Широкий ассортимент и низкие цены</p>
    </div>
    <div class="mini-card">
        <Icon Name="@("map")" IconSize="IconSize.x3"></Icon>
        <p>Широкая сеть представительств</p>
    </div>
    <div class="mini-card">
        <Icon Name="IconName.ShieldAlt" IconSize="IconSize.x3"></Icon>
        <p>Весь товар сертифицирован</p>
    </div>
    <div class="mini-card">
        <Icon Name="@("local_shipping")" IconSize="IconSize.x3"></Icon>
        <p>Оперативная доставка и выгрузка товара</p>
    </div>
</div>