<div class="catalog-card-container">
    <IndexCard ImagePath="img/icons/new.png" Caption="Новинки" Href="new-products" />
    <IndexCard ImagePath="img/icons/sale.png" Caption="Акции" Href="stocks" />
    @foreach (var item in Catalog)
    {
        <IndexCard ImagePath="@item.CategoryImagePath" Caption="@item.CategoryTitle" Href="@item.CategoryUrl" />
    }
</div>