@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  width: 100%;
  height: 60px;
  background-color: #6D6875;
}

.nav-wrapper-top {
  position: fixed;
  top: 0;
  z-index: 2;
  transition: ease 0.3s;
}

nav {
  align-self: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}

.navlink span {
  color: white;
  padding: 5px 0;
}
.navlink svg {
  color: white;
}
.navlink:hover {
  background-color: #E5989B;
}

.navlink-active {
  background-color: #B5838D;
}
.navlink-active span {
  color: #FEE440;
}
.navlink-active svg {
  color: #FEE440;
}

.topmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topmenu > li {
  align-items: center;
  justify-content: center;
  height: 100%;
  float: left;
  position: relative;
  border-left: 1px solid black;
}

.topmenu > li:first-child {
  border-left: 0;
}

.topmenu > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}

.topmenu > li > a.active,
.submenu a:hover {
  color: #9B5DE5;
}

.topmenu .fa,
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}

.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}

.submenu li {
  position: relative;
}

.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}

nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 100px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.hello-slogan {
  max-width: 400px;
}

.header-contacts-place {
  display: flex;
  align-items: start;
}

.header-contacts {
  margin: 0 15px;
}

.header-contacts-button {
  background-color: #B5838D;
  padding: 10px 10px;
  margin: 0 15px;
  border-radius: 10px;
  color: white;
}
.header-contacts-button:hover {
  background-color: #6D6875;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

/*.footer div {
    border: 1px dotted;
}*/
.footer-main {
  background-color: #6D6875;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}

.footer-copy {
  background-color: #B5838D;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-nav-link {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px 15px;
}
.footer-nav-link span {
  padding: 0;
}

.footer-nav-link:hover {
  background-color: #B5838D;
  color: white;
  transition: 0.2s linear;
}

.footer-nav-link-active {
  color: #FEE440;
}

.footer-callback-div, .footer-mail-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 2%;
}

.footer-component-btn {
  color: white;
  padding: 10px;
  border: solid 1px white;
  border-radius: 10px;
  margin: 5px 0;
}

.footer-component-btn:hover {
  background-color: #B5838D;
}

.footer-big-number {
  color: white;
  font-size: 25px;
}

.footer-component-mail, .footer-component-p {
  color: white;
  font-size: 11px;
  margin: 5px;
}

.footer-component-mail {
  text-decoration: underline;
}

.page {
  align-self: stretch;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* Index page*/
.after-carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 10px 0 50px 0;
  padding: 10px 0;
  background-color: #dddddd;
}

.mini-card {
  display: flex;
  align-items: center;
}
.mini-card i {
  margin: 0 5px;
  padding: 0;
  text-align: center;
}
.mini-card p {
  text-align: start;
  margin: 0;
  font-size: 16px;
}

.catalog-heading {
  align-self: start;
}
.catalog-heading div {
  border: 2px solid #621717;
  margin: 10px 0;
}

.catalog-card-container {
  max-width: 1200px;
  display: flex;
  align-self: stretch;
  flex-basis: initial;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catalog-card {
  margin: 10px;
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: start;
  border: solid 2px white;
}
.catalog-card p {
  width: 100%;
  align-self: stretch;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: red;
}

.catalog-card:hover {
  border-color: lightgray;
}
.catalog-card:hover p:hover {
  color: black;
}

.catalog-card-img {
  width: 150px;
}
.catalog-card-img img {
  width: 100%;
  height: auto;
}

.auth {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.auth a {
  color: black;
}
.auth form button {
  color: black;
}

.auth-hidden {
  display: none;
}

.adminpage {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  /*    div{
          border:1px dotted;
      }*/
}

.admin-header {
  height: 100px;
  background-color: #B5838D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-items {
  height: 100%;
}

.admin-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminpage-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.adminpage-title p {
  margin: 0;
  font-size: xx-large;
}

.admin-buttons {
  margin: 0 20px;
}

.admin-footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.admin-footer-title p {
  margin: 0;
}

.admin-paginator {
  margin: 0 20px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.product-card-container {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 24%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bc-1 {
  background-color: #6D6875;
}

.bc-2 {
  background-color: #B5838D;
}

.bc-3 {
  background-color: #E5989B;
}

.bc-4 {
  background-color: #FFB4A2;
}

.bc-5 {
  background-color: #FFCDB2;
}

.c-1 {
  color: #6D6875;
}

.c-2 {
  color: #B5838D;
}

.c-3 {
  color: #E5989B;
}

.c-4 {
  color: #FFB4A2;
}

.c-5 {
  color: #FFCDB2;
}
